@model ParkBulvarProject.Models.Entities.Compaign

@{
    ViewData["Title"] = "Create";
}

<div class="card">
    <div class="card-header">
        Yenisini əlavə et
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-4 mt-4 wrapper">
                            <input asp-for="Image" class="form-control d-none" />
                            <label class="btn btn-success" for="image">Şəkil Yüklə</label>
                            <input id="image" type="file" name="img" value="" class="d-none imginput" /> <br />
                            <img src="#" class="editedImage newimage" style="display:none;" width="100" height="100" alt="Alternate Text" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 d-none">
                            <label for="completed">Tamamlanmış</label>
                            <input  id="completed" type="radio" asp-for="IsCompleted" value="1" />
                            <label for="Ncompleted">Davam edən</label>
                            <input  id="Ncompleted" type="radio" asp-for="IsCompleted" value="0" />
                        </div>
                       
                        <div class="col-md-3 m-2">
                            <label asp-for="ShopId" class="control-label"></label>
                            <select asp-for="ShopId" class="form-control">
                                @foreach (var item in db.shops)
                                {
                                    if (item.ShopDictionaries.FirstOrDefault() != null)
                                    {
                                        <option value="@item.Id">@item.ShopDictionaries.FirstOrDefault().Name</option>

                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group d-none">
                            <label asp-for="Queue" class="control-label"></label>
                            <input asp-for="Queue" class="form-control" />
                            <span asp-validation-for="Queue" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    Tərcümə olunacaq dillər
                                </div>
                                <div class="card-body">
                                    <ul class="nav nav-pills mb-3 text-center" id="pills-tab" role="tablist">
                                        @{
                                            int b = 0;
                                        }
                                        @foreach (var item in db.languages)
                                        {
                                            <li style="width:32%" class="nav-item ml-2 bg-secondary ">
                                                <a class="nav-link @(b==0 ? "active" : "") text-white" id="pills-@item.Code-tab" data-toggle="pill" href="#pills-@item.Code" role="tab" aria-controls="pills-home" aria-selected="true">@item.Name</a>
                                            </li>
                                            b++;
                                        }
                                    </ul>
                                    <div class="row justify-content-center">
                                        <div class="col-md-6 col-6">
                                            <div class="tab-content" id="pills-tabContent ">
                                                @{
                                                    int i = 0;
                                                }
                                                @foreach (var item in db.languages)
                                                {
                                                <div class="col-md-12 col-12 tab-pane fade @(i==0 ? "show active" : "")" id="pills-@item.Code" role="tabpanel">
                                                    <label>Ad</label>
                                                    <input type="text" class="form-control" name="Dictionary[@i].Name" value="" />
                                                    <label>Vaxtı</label>
                                                    <input type="text" class="form-control" name="Dictionary[@i].Duration" value="" />
                                                    <input type="hidden" class="form-control" name="Dictionary[@i].LanguageId" value="@item.Id" />
                                                </div>
                                                    i++;
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <a class="btn btn-dark" asp-action="index"><i class="fas fa-undo"></i> Siyahıya geri dön</a>
                        <input type="submit" value="Əlavə et" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
   
 